.App {
  text-align: center;
}
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: top;
  font-size: 1.5vw;
  color: white;
}

.App-link {
  color: #61dafb;
}

.grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3.5vw;
}

h2 {
  font-size: 3vw;
}

h3 {
  font-size: 2.5vw;
}

h4 {
  font-size: 2vw;
}

h5 {
  font-size: 1.5vw;
}

h6 {
  font-size: 1vw;
}

.trackDetail {
  float: left;
  width: 95%;
}

.left {
  width: 30%;
}

.right {
  width: 70%;
  /* border-width: 1px solid;
  border-radius: 5px;
  border-color: white; */
}
