/*Get rid of scroll bars but keep functionality*/
body::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.App {
  text-align: center;
}
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

.App-header {
  background-color: #282c34;
  /* background-image: url("./background/abcsleep.png");
  background-position: center; 
  background-repeat: no-repeat;
  background-size: 100%; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: top;
  font-size: 1.5vw;
  color: white;
}

.App-link {
  color: #61dafb;
}

.grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3.5vw;
}

h2 {
  font-size: 3vw;
}

h3 {
  font-size: 2.5vw;
}

h4 {
  font-size: 2vw;
}

h5 {
  font-size: 1.5vw;
}

h6 {
  font-size: 1vw;
}

.trackDetail {
  float: left;
  width: 95%;
  height: 425px;
}

.left {
  min-width: 360px;
  width: 30%;
}

.right {
  min-width: 375px;
  width: 67.5%;
}

.eventdetail {
  float: left;
  width: 100%;
  margin-left: 1.25%;
  /* display: inline; */
}

.left2 {
  width: 60%;
}

.right2 {
  width: 35%;
  text-align: right;
}

.progress {
  width: 98.75%;
  float: left;
  display: inline;
  background-color: inherit;
}

.home-left {
  width: 45%;
}

.home-right {
  text-align: left;
  width: 45%;
}
