body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: "微軟正黑體", "Microsoft JhengHei",  Tahoma , Verdana , Arial , sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* body {
  background-color: #FFCC00;
  padding: 20px;
  margin: 0;
} */

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editmenu {
  height: 100%;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.progress-bar {
  position: center;
  height: 20px;
  width: 90%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border-radius: 3px;
  border: 1px solid #fff;
}

h1, h2, p, ul, li {
  font-family: "微軟正黑體", "Microsoft JhengHei",  Tahoma , Verdana , Arial , sans-serif;
  font-weight: normal;
}

h3, h4 {
	font-family: "微軟正黑體", "Microsoft JhengHei",  Tahoma , Verdana , Arial , sans-serif;
  font-weight: normal;
  text-align: center;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 0px;
  margin-bottom: 0px;
}

h5 {
  font-family: "微軟正黑體", "Microsoft JhengHei",  Tahoma , Verdana , Arial , sans-serif;
  font-weight: lighter;
  text-align: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 0px;
  margin-bottom: 0px;
}

h6 {
  font-family: "微軟正黑體", "Microsoft JhengHei",  Tahoma , Verdana , Arial , sans-serif;
  font-weight: lighter;
  text-align: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 0px;
  margin-bottom: 0px;
}

ul.header li {
  display: inline-block;
  list-style-type: none;
  margin: 0;
}

ul.header {
  background-color: #111;
  padding: 0;
  
}

.active {
  background-color: #0099FF;
  /* font-weight: bold; */
}

ul.header li a {
  color: #FFF;
  font-weight: normal;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
/* .content {
  background-color: #FFF;
  padding: 20px;
} */
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.ag-header-cell-text {
  flex: 1;
}

.mat-expansion-panel-header.mat-expanded {
  background: red;
}

.loginForm {
  /* font-size: 16px; */
  box-sizing: border-box;
  margin-top: 5%;
  /* margin-Left: 15%;
  margin-Right: 15%;
  padding-left: 20px;
  padding-right: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-input {
  font-family: "微軟正黑體", "Microsoft JhengHei",  Tahoma , Verdana , Arial , sans-serif;
  font-weight: normal;
  padding-top: 4px;
  /* padding-bottom: 8px; */
  border-radius: 5px;
  font-size: 22px;
}

.loginbuttons {
  font-family: "微軟正黑體", "Microsoft JhengHei",  Tahoma , Verdana , Arial , sans-serif;
  font-weight: normal;
  font-size: 22px;
}