body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: "微軟正黑體", "Microsoft JhengHei",  Tahoma , Verdana , Arial , sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* body {
  background-color: #FFCC00;
  padding: 20px;
  margin: 0;
} */

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



h1, h2, p, ul, li {
  font-family: "微軟正黑體", "Microsoft JhengHei",  Tahoma , Verdana , Arial , sans-serif;
  font-weight: normal;
}

h3, h4 {
	font-family: "微軟正黑體", "Microsoft JhengHei",  Tahoma , Verdana , Arial , sans-serif;
  font-weight: normal;
  text-align: center;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 0px;
  margin-bottom: 0px;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header {
  background-color: #111;
  padding: 0;
  
}

.active {
  background-color: #0099FF;
  /* font-weight: bold; */
}

ul.header li a {
  color: #FFF;
  font-weight: normal;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
/* .content {
  background-color: #FFF;
  padding: 20px;
} */
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}